@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

:root {
  --background: #ffffff;
}

@theme inline {
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
  }
}

body {
  color: var(--foreground);
}
